################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Monitoring-Webapiclient/v17/TestStore/0
